//colors
$primary-color: rgb(231, 226, 233);
$secondary-color: rgb(27, 24, 29);
$focus-color: rgb(246, 145, 14);

//backgrounds
$primary-background: rgb(27, 24, 29);
$secondary-background: rgb(231, 226, 233);
$hero-background: radial-gradient($focus-color 0%, $primary-background 59%);

//font-size
$primary-font-size: 14px;
$nav-font-size: 24px;

//paddings
$primary-padding: 0 20px;