//colors
$primary-color: rgb(231, 226, 233);
$secondary-color: rgb(27, 24, 29);
$focus-color: rgb(20, 235, 202);

//backgrounds
$primary-background: rgb(27, 24, 29);
$standard-background: rgb(32, 36, 41);
$secondary-background: linear-gradient(to right, rgb(32, 36, 41) 98%, rgb(20, 235, 202) 100%);
$hero-background: radial-gradient($focus-color 0%, $standard-background 59%);

//font-size
$primary-font-size: 14px;
$big-font-size: 22px;
$nav-font-size: 28px;
$box-font-size: 32px;

//paddings
$primary-padding: 0 40px;
$basic-padding: 40px;
$basic-padding-left: 40px 40px 40px 20px;
$basic-padding-right: 40px 0 40px 40px;

//borders
$primary-border: 5px solid $secondary-color;

//shadows
$primary-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
$image-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);