//colors
$primary-color: rgb(231, 226, 233);
$secondary-color: rgb(27, 24, 29);
$focus-color: rgb(20, 235, 202);
$mode-color: rgb(235, 203, 20);

//backgrounds
$primary-background: rgb(27, 24, 29);
$standard-background: rgb(32, 36, 41);
$owl-green:rgb(26, 127, 112);
$light-box-background: rgb(48, 101, 90);
$owl-focus-green:rgb(25, 181, 157);
$light-background: linear-gradient(to right, $primary-color 96%, rgb(61, 223, 155) 100%);
$secondary-background: linear-gradient(to right, $standard-background 98%, $focus-color 100%);
$hero-background: radial-gradient($focus-color 0%, $standard-background 59%);
$light-hero-background: radial-gradient($mode-color 0%, $light-box-background 59%);

//font-size
$primary-font-size: 14px;
$mobile-font-size: 10px;
$big-font-size: 22px;
$nav-font-size: 28px;
$box-font-size: 34px;
$moving-text-font-size: 74px;

//line-height
$primary-line-height: 20px;
$big-line-height: 26px;
$nav-line-height: 35px;
$box-line-height: 42px;

//paddings
$primary-padding: 0 40px;
$basic-padding: 40px;
$mobile-padding: 20px;
$basic-padding-left: 40px 40px 40px 20px;
$basic-padding-right: 40px 0 40px 40px;
$title-padding: 0 20px;
$button-padding: 10px 20px;

//margin
$page-contact-margin: 0 200px 0 400px;
$page-about-margin: 40px    ;

//borders
$primary-border: 5px solid $secondary-color;
$button-border: 1px solid $secondary-color;
$form-border: 1px solid $primary-color;
$image-border: 10px solid $standard-background;
$futured-border: 2px solid $focus-color;

//shadows
$primary-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
$image-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);