.Contact.darkMode {
    background: $standard-background;
    color: $primary-color;
}

.Contact.lightMode {
    background: $primary-color;
    color: $secondary-color;
}

.Contact {
    @include flex-direction(space-between, row);
    max-width: 100vw;

    .menu {
        height: 100vh;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .componentContainer {
        margin: 0 200px 0 400px;
        width: calc(100vw - 200px);
        position: relative;
        height: 100vh;
        @include flex(center, center);
    
        .textContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;
    
            h1 {
                font-size: $box-font-size;
                line-height: $box-line-height;
            }

            .item {
                h2 {
                    font-size: $nav-font-size;
                    line-height: $nav-line-height;
                }
        
                span {
                    font-weight: 300;
                    font-size: $primary-font-size;
                    line-height: $primary-line-height;
                }
                
            }
        }
    
        .formContainer {
            flex: 1;
            position: relative;
            overflow: hidden;
    
            .phoneSvg {
                stroke: $focus-color;
                position: absolute;
                margin: auto;
                z-index: -1;
            }
    
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                input, textarea {
                    padding: 20px;
                    background-color: transparent;
                    border: $button-border;
                    border-radius: 5px;
                    color: $primary-color;
                    font-size: $primary-font-size;
                }
    
                button{
                    padding: 20px;
                    border: none;
                    background-color: $focus-color;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: $big-font-size;
                }
            }
        }
    }
}