.Events.darkMode {
    div {
        background-color: $primary-background;
        color: $primary-color;
    }

}

.Events.lightMode {
    div {
        background-color: $light-box-background;
        color: $primary-color;
    }
}



.Events {
    @include flex-direction(center, column);
    gap: 20px;
    padding: $basic-padding;
    box-shadow: $primary-shadow;

    div {
        border-radius: 20px;
        padding: $primary-padding;

        .title {
            font-size: $nav-font-size;
            line-height: $nav-line-height;
            padding: $basic-padding;
        }

        .date {
            font-style: italic;   
        }

        .description {
            padding: $basic-padding;
        }
    }
}