.Hero.darkMode {
    background: $hero-background;

    .futuredContainer {
        .recentProjects{
            background-color: $primary-background;
        }
    }

    .messageContainer {
        div {
            background-color: $primary-background;
        }
    }
}

.Hero.lightMode {
    background: $light-hero-background;

    .futuredContainer {
        color: $light-box-background;

        .boxContainer {
            background-color: $primary-color;

            &:hover {
                color: $secondary-color;
            }
        }

        .recentProjects{
            background-color: $primary-color;

            a {
                color: $light-box-background;

                &:hover {
                    color: $secondary-color;
                }
            } 
        }
    }

    .messageContainer {
        div {
            background-color: $primary-color;
            color: $light-box-background;

            &:hover {
                color: $secondary-color;
            }

            a {
                color: $light-box-background;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

.Hero {
    height: 90%;
    width: calc(100vw - 200px);
    position: fixed;
    bottom: 0;
    @include flex-direction(center, row);

    .futuredContainer {
        flex:1;
        height: 100%;
        padding: $basic-padding-right;
        @include flex-direction(center, column);
        gap: 20px;

        .recentProjects {
            border-radius: 10px;
            text-align: center;
            box-shadow: $primary-shadow;
            transition: 200ms all ease-in-out;  
            width: 100%;
            height: 100%;
            @include flex-direction(center, column);
            
            &:hover {
                color: $focus-color;
                box-shadow: none;
            }
        }
    }

    .messageContainer {
        flex:1;
        height: 100%;
        @include flex-direction(center, column);
        gap: 20px;
        padding: $basic-padding-left;

        div {
            flex: 1;
            border-radius: 10px;
            text-align: center;
            box-shadow: $primary-shadow;
            transition: 200ms all ease-in-out;
            @include flex-direction(center, column);
            gap: 20px;
            width: 100%;
            padding: $basic-padding;
    
            &:hover {
                color: $focus-color;
                box-shadow: none;
            }
        }

        .mainInfo {
            flex: 2;
        }
    }
}