.Home.lightMode {
    background-color: $light-box-background;
    color: $secondary-color;
}

.Home.darkMode {
    background-color: $standard-background;
    color: $primary-color;
}

.Home {
    @include flex-direction(center, row);
    width: 100%;
    height: 100%;

    .mainContainer {
        @include flex-direction(center, column);
        width: 100%;
        height: 100%;
    }
}