.Home {
    @include flexDirection(space-between, row);
    width: 100%;
    height: 100%;

    .mainContainer {
        @include flexDirection(center, column);
        width: 100%;
        height: 100%;
    }
}