
.slidingTextContainer {
    position: absolute;
    font-size: $moving-text-font-size;
    top: 40px;
    white-space: nowrap;
    color: $focus-color;
    width: 100%;
    font-weight: bold; 
    z-index: 1;
}
