.Navbar {
    @include flexDirection(space-between, row);
    padding: $primary-padding;
    height: 20px;

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: $focus-color;
        }

        h1 {
            flex:1;
        }
    }

    .socialLinks {
        flex:2;
        @include flex(center, end);
        gap: 10px;
        font-size: $nav-font-size; 
    }
}