.Navbar {
    @include flex-direction(space-between, row);
    padding: $primary-padding;
    position: fixed;
    top: 40px;
    width: calc(100vw - 200px);

    h1 {
        flex:1;
        font-weight: 100;
        font-size: $nav-font-size;
        
        strong {
            transition: 200ms all ease-in-out;

            &:hover {
                color: $focus-color;
            }
        }
    }

    .socialLinks {
        flex:2;
        @include flex(center, flex-end);
        gap: 10px;
        font-size: $nav-font-size; 
    }
}