.Navbar.lightMode {
    background-color: transparent;

    h1 {
        strong {
            &:hover {
                color: $secondary-color;
            }
        }
    }

    a {
        &:hover {
            color: $secondary-color;
        }
    }
}

.Navbar {
    @include flex-direction(space-between, row);
    padding: $primary-padding;
    position: fixed;
    top: 40px;
    width: calc(100vw - 200px);

    @include mobile {
        width: 100vw;
        @include flex-direction(center, column);
    }

    h1 {
        flex: 1;
        font-weight: 100;
        font-size: $nav-font-size;

        @include mobile {
            font-size: $big-font-size;
            text-align: center;
        }
        
        strong {
            transition: 200ms all ease-in-out;

            &:hover {
                color: $focus-color;
            }
        }
    }

    .socialLinks {
        flex: 2;
        @include flex(center, flex-end);
        gap: 10px;
        font-size: $nav-font-size; 

        @include mobile {
            flex: 1;
            @include flex(center, center);
            font-size: $big-font-size; 
        }
    }
}