.Projects.darkMode {
    background: $standard-background;
    color: $primary-color;

    .componentContainer {
        .projectsContainer {
            background: $hero-background;   

            h3 {
                color: $primary-color;
            }
            
            .project {
                a {
                    background-color: $primary-background;

                    h4 {
                        color: $primary-color;
                        background-color: $primary-background;
                    }    
                }
               
            }
        }
    }
}

.Projects.lightMode {
    background: $primary-color;
    color: $primary-color;

    .componentContainer {
        .projectsContainer {
            background: $light-hero-background; 

            h3 {
                color: $secondary-color;
            }
            
            .project {
                a {
                    background-color: $primary-color;

                    h4 {
                        color: $secondary-color;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}

.Projects {
    @include flex-direction(space-between, row);
    max-width: 100vw;

    .menu {
        height: 100vh;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .componentContainer {
        margin-left: 200px;
        width: calc(100vw - 200px);
        position: relative;

        h2 {
            position: fixed;
            top: 20px;
            right: 40px;
            z-index: 999;
        }

        .projectsContainer {
            @include flex-direction(center, column);
            height: 100vh;
            width: 100%;  
            gap: 5px;

            h3 {
                flex: 1;
                font-size: $nav-font-size;
                margin-top: 60px;
            }

            .project {
                flex: 8;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                margin-bottom: 80px;
                gap: 20px;
                width: 80%;

                a {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    @include flex-direction(center, column);

                        .imageContainer {
                            flex: 4;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        h4 {
                            flex: 1;
                            @include flex-direction(center, row);
                            gap: 10px;
                        }
                }
            }

           


        }
    }
  }