.Sidebar.darkMode {
    background: $secondary-background;
    color: $primary-color;

    .box {
        .container {
            background-color: $primary-background;
            color: $focus-color;
        }
    }

   .mode {
        .container {
            background-color: $primary-background;
            color: $mode-color;
        }
    }
}

.Sidebar.lightMode {
    background: $light-background;
    color: $secondary-color;

    .titleContainer {
        h2 {
            color: $light-box-background;

            span {
                color: $light-box-background;
            }
        }
    }

    .linkContainer {
        a {
            color: $light-box-background;

            span {
                color: $light-box-background;

                &:hover {
                    color: $secondary-color;
                }
            }

            &:hover {
                color: $secondary-color;
            }
        }
        
    }

    .box {
        &:hover {
            opacity: 0.8;
        }

        .container {
            background-color: $light-box-background;
            color: $primary-color;
        }
    }

    .mode {
        &:hover {
            opacity: 0.9;
        }

        .container {
            background-color: $light-box-background;
        }
    }
}


.Sidebar {
    height: 100%;
    width: 200px;
    @include flex-direction(flex-start, column);

    .titleContainer {
        flex: 1;
        width: 100%;
        @include flex-direction(center, column);
        text-align: center;

        .imageContainer{
            width: 60%;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 5%;
            }
        }

        h2 {
            font-size: $primary-font-size;
            font-family: 'Mulish', sans-serif;

            span {
                font-weight: bold;
                color: $focus-color;
                font-size: $big-font-size;
            }
         }
    }

    .linkContainer {
        flex: 2;
        @include flex-direction(center, column);
        gap: 20px;
        width: 100%;
        align-items: self-start;
        padding-left: $basic-padding;

        a {
            transition: 200ms all ease-in-out;
            font-weight: bold;
            @include flex-direction(center, row);
            gap: 10px;

            &:hover {
                color: $focus-color;
            }

            span {
                color: $focus-color;
                font-size: $nav-font-size;
            }



        }
    }

    .box, .mode {
        flex: 1;
        @include flex-direction(center, column);

        .container {
            border-radius: 10px;
            width: 100px;
            height: 100px;
            @include flex(center, center);
            text-align: center;
            box-shadow: $primary-shadow;
            transition: 200ms all ease-in-out;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .mode {
        .container {
            @include flex-direction(center, column);
            gap: 10px;
            border: none;
            color: $mode-color;

            span {
                color: $mode-color;
                font-size: $nav-font-size;
            }
        }
       
    }
}



