.Sidebar {
    background-color: $secondary-background;
    height: 100%;
    width: 200px;
    @include flex-direction(center, column);

    .titleContainer {
        h2 {
            color: $secondary-color;
            font-weight: 300;

            strong {
                transition: 200ms all ease-in-out;
                
                &:hover {
                    color: $focus-color;
                }
            }
        }
    }

    .linkContainer {
        @include flex-direction(center, column);

        a {
            color: $secondary-color;
        }
    }
}